{{ block title }}
   Hasil
{{ endblock }}

{{ block content }}

{{ if group.chance < 200 }}
<p>
    Hasil audit menemukan ketidaksesuaian pada pelaporan kategori. Denda sebesar {{group.penalty}}
    diberlakukan, sehingga pendapatan akhir Anda adalah {{ player.payment }}.
</p>
{{ endif }}

{{ if group.chance >= 200 }}
<p>
    Tidak ditemukan anomali dalam laporan Anda. Pendapatan akhir Anda adalah {{ player.payment }}.
</p>
{{ endif }}

<hr>
<p>
    <strong>Jumlah Barang Diimpor:</strong> {{ group.quantity }}<br>
    <strong>Penalti Saat Ini:</strong> {{ group.penalty }}
</p>

{{next_button}}

{{ endblock }}
