{{ block title }}
   Hasil
{{ endblock }}

{{ block content }}


{{ if group.chance < 200 }}

<p>
    Hasil audit menemukan anomali pada pelaporan pajak Anda. Anda dan importir akan dikenakan denda sebesar 300 unit.
    Pendapatan Anda setelah denda adalah sebesar {{ player.payment }}
</p>

{{ endif }}
{{if group.chance >= 200}}
    <p>
        Tidak ditemukan anomali pada laporan pajak Anda. Setelah iuran/bea cukai pendapatan Anda adalah sebesar {{ player.payment }}
    </p>
{{ endif }}


{{ endblock }}


